---
title: Index page
---
{% extends 'layouts/_layout.html' %}

{% block content %}
	
	{{ header.block({active: 1}) }}
	<!-- begin wrap -->
	<div class="wrap">
		<!-- begin main -->
		<div class="main" data-scroll-trigger>
			<div class="main__icons" data-anim-group="0.5" data-duration-anim="1" data-delay-anim="0.0000001" data-ease-anim="Power1.easeOut">
				<div class="main__icon"><img data-anim="fade" src="./img/main-icon-1.svg" alt="icon"></div>
				<div class="main__icon"><img data-anim="fade" src="./img/main-icon-2.svg" alt="icon"></div>
				<div class="main__icon"><img data-anim="fade" src="./img/main-icon-3.svg" alt="icon"></div>
				<div class="main__icon"><img data-anim="fade" src="./img/main-icon-4.svg" alt="icon"></div>
			</div>
			<div class="main__cloud" data-anim-group="0.2" data-duration-anim="1.1" data-ease-anim="Power2.easeOut">
				<img src="./img/main_cloud.svg" alt="img" data-anim="from-bottom">
			</div>
			<div class="main__wrap" data-anim-group="0.4" data-duration-anim="0.6" data-delay-anim="0.15" data-ease-anim="Power2.easeOut">
				<h1 class="main__title title-gl" data-anim="from-bottom">La Grande Planète Verte</h1>
				<div class="main__text">
					<p data-anim="from-bottom">Amazing amusement and hair care center for kids. <br>Party 🎉, eat 🍩 and cut ✂️ your hair, all at the same time!</p>
				</div>
				<div class="main__footer" data-anim="from-bottom">
					<a href="#" class="btn btn_md">Make Appointment</a>
				</div>
			</div>
		</div>
		<!-- end main -->
	</div>
	<!-- end wrap -->
	{% include './partials/_footer.html' %}

{% endblock %}
