.footer
	position: relative
	padding: 45px 0
	color: rgba($black, .5)
	+md
		padding: 83px 0 45px
	&_white
		padding-top: 214px
		color: $white
		+md
			padding: 200px 0 0
		+sm
			padding: 83px 0 180px
			color: $black
	&__bg
		position: absolute
		bottom: 0
		left: 50%
		transform: translateX(-50%)
		overflow: hidden
		font-size: 0
		img
			display: block
			+md
				width: 1300px
			+sm
				width: 1086px
	&__inner
		position: relative
		z-index: 1
		margin: 0 auto
		padding: 0 15px
		max-width: 1570px
		align-items: center
		justify-content: space-between
		flex-wrap: wrap
		display: flex
		+sm
			flex-direction: column
		&[data-anim="from-bottom"]
			transform: translateY(30px)
	&__soc
	&__copy,
	&__time
		font-size: 18px
		.footer_white &
			opacity: .7
	&__copy
		margin: 0 15px
		opacity: .5
		+sm
			margin-top: 32px
			opacity: 1
	&__time
		+sm
			margin-bottom: 29px
			order: -1
		span
			text-transform: uppercase
			.footer_white &
				color: #B7F1C6
				+sm
					color: #44A15B
.soc
	align-items: center
	flex-wrap: wrap
	display: flex
	font-size: 18px
	line-height: 1
	&__item
		&:not(:last-child)
			margin-right: 33px
		a
			color: #A0BBA3
			transition: color .3s
			.soc_white &
				color: $white
				+sm
					color: #A0BBA3
			+hover
				color: #CADBCC